:root {
  --primary-color: #E9A242;
  --secondary-color: #FDF8D4;
  --font-color: #382710;
  --bg-color: #fff;
}

[data-theme="dark"] {
  --primary-color: #c28c42;
  --secondary-color: #815e2c;
  --font-color: black;
  --bg-color: #382710;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--bg-color);
  color: var(--font-color);
}
.flex-container {
  min-height: 55vh;
  width: 100%;
  min-width: 400px;
  position: relative;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: solid;
  border-color: var(--font-color);
  border-top-style: none;
  padding-bottom: 100px;
}
.titlebar {
  display: flex;
  background-color: var(--primary-color);
  min-height: 1em;
  width: 60%;
  padding-left: 20%;
  padding-right: 20%;
  position: relative;
  z-index: 1;
  text-align: center;
  justify-content: center;
  font-size: 3em;
  border-style: solid;
  border-color: var(--font-color);
  color: var(--font-color);
}
.cinnamonRoll {
  max-width: 50px;
  max-height: 50px;
}
.nextButton {
  max-width: 100px;
  cursor: pointer;
  caret-color: black;
}
.nextButton:hover {
  opacity: 0.7;
}
.count {
  max-width: 100px;
}
.synonymRollTitle {
  font-size: 0.8em;
  margin: 0 20px 0 20px;
  min-width: 250px;
}
.middleArea {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  z-index: 3;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.startButton img{
  max-width: 200px;
  cursor: pointer;
}
.startButton:hover {
  opacity: 0.7;
}
/* OPTIONS MENU */
.optionMenuButton {
  font-size: 1em;
  box-shadow: 2px 3px #16384e;
  border-radius: 12px;
  margin-top: 10px;
  cursor: pointer;
}
.optionContainer {
  min-width: 250px;
  position: absolute;
  display: flex;
  flex-direction: column;
  visibility: hidden;
  height: 0px;
  border-width: 1px;
  padding: 0 20px 10px 20px;
  background-color: var(--primary-color);
  box-shadow: 3px 5px #16384e;
  z-index: 100;
  top: 96px;
  border-radius: 25px;
}
.optionContainer div div {
  font-size: 1.5em;
  margin-top: 10px;
}
.optionStartButton {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 90px;
  cursor: pointer;
}
.optionStartButton:hover {
  opacity: 0.7;
}
#myGameType, #myDificulty {
  background-color: black;
  color: white;
  border-radius: 12px;
}
.easy, .medium, .hard, .selectSynonym, .selecDefinition {
  cursor: pointer;
  box-shadow: 1px 1px #16384e;
  border-radius: 12px;
}
/* SYNONYM GAME */
.inputArea {
  z-index: 3;
}
.form {
  justify-content: center;
  align-items: center;
  display: flex;
}
.notFound {
  cursor: pointer;
  background-color: white;
}
.notFound:hover {
  background-color: rgb(177, 177, 177);
}
.found {
  background-color: #ffea00;
  cursor: default;
}
/* SCORE CIRCLE */
.circle {
  position: absolute;
  Bottom: 0;
  Right: 0;
  width: 10em;
  height: 10em;
  border-radius: 100% 0 0 0;
  border-color:black;
  border-left-style: solid;
  border-left-width: 3px;
  border-top-style: solid;
  border-top-width: 3px;
  z-index: 10;
  background-color: #452103;
  visibility: hidden;
}
.pointsTitle {
  color: #ffea00;
  font-weight: bold;
  font-size: 1.5em;
  position: absolute;
  top: 30px;
  right: 10px;
}
.score {
  color: #ffea00;
  font-weight: bold;
  font-size: 1.5em;
  position: absolute;
  top: 60px;
  right: 30px;
}
.difficulty {
  color: #ff7300;
  font-weight: bold;
  font-size: 1.5em;
  position: absolute;
  right: 10px;
  bottom: 0;
  text-align: end;
}
.gameTypeBar {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 4em;
  z-index: 3;
}

.synonym-List {
  font-size: 2.0em;
  margin-bottom: 1em;
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 50%;
}

.synonym-List-Multiple {
  font-size: 2.0em;
  margin-bottom: 1em;
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 5%;
  flex-direction: column;
}

.list-Item {
  list-style: none;
  font-size: 0.7em;
  font-family: Arial, Helvetica, sans-serif;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  height: 50px;
  line-height: 50px;
  margin-top: 0.3em;
  margin-right: 0.15em;
  margin-left: 0.15em;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  flex: 1 1 10%;
  white-space: nowrap;
  position: relative;
  border-radius: 10px;
}
.audioButton {
  position: relative;
  visibility: hidden;
  margin-bottom: 20px;
  border-radius: 8px;
}
.hint {
  max-width: 700px;
  margin-top: 50px;
  text-align: center;
  font-size: 1.2em;
  font-family: Arial, Helvetica, sans-serif;
}

.newWordButton {
  margin-top: 10px;
}

/* *********** Multiple Choice Section ************** */

.multipleChoiceButton {
  padding: 1em 2em 1em 2em;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

/*  *********** Toggle buttons Timer and Dark Theme *********** */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input { 
  display:none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 30px;
  bottom: 4px;
  background-color: white;
}

input:checked + .slider {
  background-color: #d4d4d4;
  border-color: black;
}

input:checked + .slider:before {
  transform: translateX(-26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/*  *********** END Toggle buttons Timer and Dark Theme *********** */

/* TIMER */
.time-container {
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
  display: flex;
}
.timerImage {
  max-width: 70px;
  max-height: 70px;
}
.realTimer {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 70px;
}
.timesUp {
 min-width: 100px;
 min-height: 250px;
 background-color:#452103;
 position: absolute;
 right: 30%;
 left: 30%;
 top: 100px;
 border-radius: 10px;
 cursor: pointer;
}
.timesUp:hover {
  box-shadow: 0 0 5px black;
}
.gameOver {
  width: 15em;
  height: 7em
}
.pointsRecord {
  font-family: "Gill Sans", sans-serif;
  font-size: 50px;
  color: beige
}
.restartButton {
  max-width: 100px;
  cursor: pointer;
  caret-color: black;

}
