.flex-container {
  height: 75vh;
  width: 100%;
  position: relative;
  background-color: #00ffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 0;
}

.circle {
  position: absolute;
  top: 0;
  right: 0;
  width: 15em;
  height: 15em;
  border-radius: 0px 0px 0px 100%;
  border-color:black;
  border-left-style: solid;
  border-left-width: 3px;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  z-index: 10;
  background-color: #260c63;
}

.titlebar {
  background-color: #8a2be2;
  min-height: 1em;
  width: 100%;
  position: relative;
  z-index: 1;
  text-align: center;
  font-size: 5em;
}

.synonym-List {
  font-size: 2.0em;
  margin-bottom: 1em;
}

.list-Item {
  list-style: none;
  font-size: 0.75em;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  height: 50px;
  line-height: 50px;
  margin-top: 0.3em;
  text-align: center;
}